{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 60.01364624474655,
        "longitude": 30.387746660853743,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Moscow",
        "external_url": null,
        "internal_url": null
    }
}